body{
    background-color: rgb(34, 179, 179);
    display: flex;
    align-content: space-between;
}
.diia{
    width: 512px;
    height: 512px;
    background-color: black;
    position: relative;

}
.vector{
    width: 310px;
    height: 182px;
    padding: 128px 101px 0 101px;
}
.flag{
    width: 80px;
    height: 60px;
    padding: 33px 216px 109px 216px;
}
.square{
    display:flex;
    width: 512px;
    height: 512px;
    background-color: yellow;
    /* flex-direction: column; */
    z-index: 2;
    position: relative;
    Top: 385px;
    Left: -62px;
}
.Glyph{
    width: 400px;
    height: 227px;
    z-index: 3;
    margin: 144px 57px;
    position: absolute;
    
}
.flag_1{
    width: 512px;
    height: 272px;
    z-index: 2;
    position: relative;
    /* margin-left: -35px; */
}
.flag_2{
    width: 512px;
    height: 272px;
    z-index: 2;
    position: relative;
    margin-left: -35px;
}
.circle{
    width: 512px;
    height: 512px;
    position: absolute;
    top: 760px;
    left: 920px;
    z-index: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle_1{
    width: 444px;
    height: 444px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}
.Glyph_1{
    margin: -25px 76px 88px 45px;
    z-index: 3;
    position: relative;
}